<h1>Friends Index</h1>
{{! The context here is the controller}}

<h3>Total friends: {{model.length}}</h3>


<ul>
	{{#each friend in model}}
		{{! 
			Takes every element of the collection and sets it as a friend;
			the collection returned is referenced as a model; 
		}}
		<li>{{friend.id}}: {{friend.firstName}} {{friend.lastName}}</li>
	{{/each}}
</ul>
