<h1>Total friends: {{model.length}}</h1>

<table>
	<thead>
		<tr>
			<th>Name</th> 
			<th></th>
   		</tr>
	</thead>
	<tbody>
    	{{#each friend in model}}
		<tr>
			<td>{{link-to friend.fullName "friends.show" friend}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>
	
<button>{{link-to "New" "friends.new" }}</button>
